{% extends 'clientes/base.html' %} {% block titulo %} Cadastro de clientes
{%endblock titulo%} {% block conteudo %}
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    {{ form.nome.erros }}
    <label>Nome:</label>
    {{ form.nome }}
  </div>

  <div class="form-group">
    {{ form.sexo.erros }}
    <label>Sexo:</label>
    {{ form.sexo }}
  </div>

  <div class="form-group">
    {{ form.data_nascimento.erros }}
    <label>Data de Nascimento:</label>
    {{ form.data_nascimento }}
  </div>

  <div class="form-group">
    {{ form.email.erros }}
    <label>Email:</label>
    {{ form.email }}
  </div>

  <div class="form-group">
    {{ form.profissao.erros }}
    <label>Profissão:</label>
    {{ form.profissao }}
  </div>

  <div class="form-group">
    <input type="submit" name="cadastrar" />
  </div>
</form>
{% endblock conteudo%}
