<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
  </head>
  <body>
    <div>
      <label>Nome:</label>
      {{ form.nome }}
    </div>

    <div>
      <label>Sexo:</label>
      {{ form.sexo }}
    </div>

    <div>
      <label>Data de Nascimento:</label>
      {{ form.data_nascimento }}
    </div>

    <div>
      <label>Email:</label>
      {{ form.email }}
    </div>

    <div>
      <label>Profissão:</label>
      {{ form.profissao }}
    </div>
  </body>
</html>
